<a href="https://colab.research.google.com/github/naruemonssp/data_viz_2022/blob/main/Final_DataViz2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Final Exam**: งานกลุ่ม Final ที่อาจารย์สุ่มให้
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/.../1D... )
* โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ
* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

**ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565**

# **โหลด Data**

In [89]:
import pandas as pd  # pandas เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package

In [90]:
from google.colab import drive  # เชื่อมต่อกับ google drive ที่เราเก็บข้อมูลไว้
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [91]:
import os # เป็น package ที่เอาไว้จัดการไฟล์และเอาไว้ดูที่มาของไฟล์หรือ path

In [92]:
path = '/content/drive/My Drive/dataviz_2021_data' #ระบุให้ชี้ไปที่โฟลเดอร์ใน google drive ที่เราเซฟไฟล์ไว้ คือ โฟลเดอร์ Final_DataViz2022

# **ข้อมูลชุดที่ 1 การตรวจโรค (ov)**

In [93]:
data1 =  pd.read_csv(os.path.join(path,'alldb.csv')) # ทำการนำเข้าข้อมูล การตรวจโรค(ov) โดยการเรียกใช้ข้อมูลประเภท .csv ใน drive ไฟล์ที่เรียกใช้คือ alldb.csv  โดยตั้งชื่อตารางว่า data1
data1.head() # print data ดูว่ามันหน้าตาเป็นยังไง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

In [94]:
data1.shape  #ตรวจสอบขนาดของข้อมูล

(40035, 14)

In [95]:
data1.dtypes  #ตรวจสอบชนิดของข้อมูล

Unnamed: 0       int64
user            object
RowKey          object
care            object
date            object
ov              object
phone           object
site            object
time            object
urine           object
pid             object
PartitionKey    object
title           object
age             object
dtype: object

## **แสดง Columns ที่สนใจ**

In [96]:
data = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]
data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

## **ตรวจสอบค่า Missing**

In [97]:
data.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง

user            True
RowKey          True
date            True
ov              True
phone           True
site            True
time            True
urine           True
PartitionKey    True
title           True
age             True
dtype: bool

In [98]:
data_drop = data.dropna() # แก้ไขค่า missing โดยทำการ drop ค่า missing ออกไปโดยใช้คำสั่ง dropna()
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,0,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,0,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,2,Samsung SM-G998B,test,14:23:45,ขุ่น,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,2,Samsung SM-G998B,test,14:23:43,ขุ่น,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,3,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,2,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,2,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,zzz,data is not completed,data is not completed

## **เปลี่ยนชนิดข้อมูลให้เป็นไปตามข้อกำหนด**

### user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [99]:
data_drop = data_drop[(data_drop['user'].astype(str).str.isdigit()) & (data_drop['user'].str.len() == 5)]   # กำหนดให้ข้อมูล user ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 หลัก (ตัวเลขเท่านั้น)
print(data_drop.shape)    # ตรวจสอบขนาดของข้อมูล                                                                        
data_drop.head() # print data ดูว่ามันหน้าตาเป็นยังไง

(37465, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66

### RowKey เป็น String

In [100]:
import numpy as np

In [101]:
data_drop['RowKey'] = data_drop['RowKey'].astype('str')
print(data_drop.shape)
data_drop.head()

(37465, 11)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66

### เปลี่ยน date เป็น YYYY-MM-DD

In [102]:
import datetime # ทำการ import package datetime 
data_drop = pd.DataFrame(data_drop) 
data_drop['date'] = pd.to_datetime(data_drop['date']) # format = "%d/%m/%Y" 
print(data_drop.shape)
data_drop.head()

(37465, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66

### เปลี่ยน phone เป็น String

In [103]:
data_drop['phone'] = data_drop['phone'].astype('str')
print(data_drop.shape)
data_drop.head()

(37465, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66

### เปลี่ยน site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [104]:
data_drop = data_drop[(data_drop['site'].astype(str).str.isdigit()) & (data_drop['site'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

(37459, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66

### เปลี่ยน time เป็น hh-mm-ss

In [105]:
data_drop['time'] = data_drop['time'].replace(':','-',regex=True) # กำหนดรูปแบบของ time เป็น hh-mm-ss
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14-22-22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,0,Samsung SM-G965U,05258,14-05-25,ปกติ (เหลืองใส),61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,0,Samsung SM-G965U,05258,14-42-45,ปกติ (เหลืองใส),89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,1,Samsung SM-G965U,05258,15-32-53,ปกติ (เหลืองใส),92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,2,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,2,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),983,data is not completed,data is not completed

### เปลี่ยน urine มีค่า String

In [106]:
data_drop['urine'] = data_drop['urine'].astype('str')
print(data_drop.shape)
data_drop.head()

(37459, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14-22-22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66

### เปลี่ยน ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [107]:
set(data_drop['ov'])

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

In [108]:
data_drop['ov'] = pd.to_numeric(data_drop['ov'], errors='coerce') # เปลี่ยนให้เป็นตัวเลขเท่านั้น
data_drop = data_drop.replace(np.nan, 0, regex=True) 
data_drop['ov'] = data_drop['ov'].astype(int)

In [109]:
set(data_drop['ov'])

{0, 1, 2, 3, 4}

### เปลี่ยน PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

In [110]:
data_drop = data_drop[(data_drop['PartitionKey'].astype(str).str.isdigit()) & (data_drop['PartitionKey'].str.len() == 5)]
print(data_drop.shape)
data_drop.head()

(37392, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50

In [111]:
data_drop.dtypes  #ตรวจสอบชนิดของข้อมูล

user                    object
RowKey                  object
date            datetime64[ns]
ov                       int64
phone                   object
site                    object
time                    object
urine                   object
PartitionKey            object
title                   object
age                     object
dtype: object

In [112]:
data_drop = data_drop.replace(np.nan, 0, regex=True)
data_drop['user'] = data_drop['user'].astype(int)
data_drop['age'] = data_drop['age'].astype(int)

In [113]:
data_drop.dtypes  #ตรวจสอบชนิดของข้อมูล

user                     int64
RowKey                  object
date            datetime64[ns]
ov                       int64
phone                   object
site                    object
time                    object
urine                   object
PartitionKey            object
title                   object
age                      int64
dtype: object

In [114]:
data_drop.astype({'RowKey':'string', 'phone':'string','urine':'string','title':'string'}).dtypes

user                     int64
RowKey                  string
date            datetime64[ns]
ov                       int64
phone                   string
site                    object
time                    object
urine                   string
PartitionKey            object
title                   string
age                      int64
dtype: object

In [115]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

### เปลี่ยน title เป็น เพศ ชาย หญิง และไม่ระบุ

In [125]:
data_gender = data_drop.replace({'  นาง':'หญิง', ' นาง':'หญิง', ' นางสาว':'หญิง',  ' นาย':'ชาย', 'Mrs':'หญิง',
                                            'ชาย':'ชาย', 'ด.ช.':'ชาย', 'ด.ญ.':'หญิง',  'ด.ต.':'ไม่ระบุ', 
                                             'น':'ชาย', 'น.ส':'หญิง', 'น.ส ':'หญิง', 'น.ส.':'หญิง', 'นส':'หญิง',
                                            'นส.':'หญิง',  'นาง.':'หญิง', 'นาง ':'หญิง',  'นาง':'หญิง', 'นส. ':'หญิง',
                                             'นางl':'หญิง', 'นางสาว':'หญิง',  'นางสาว ':'หญิง', 'นางสาว                   ':'หญิง',  'นาน':'ชาย',
                                            'นาว':'หญิง', 'นาย  ':'ชาย', 'นาย ':'ชาย', 'นาย':'ชาย',  'นาบ':'ชาย',
                                            'นาวสาว':'หญิง',  'นา่ง':'หญิง', 'น่าย':'ชาย',  'พจอ.':'ไม่ระบุ', 'พระ':'ชาย',
                                             'พระครุ':'ชาย', 'พระปลัด':'ชาย', 'พลฯ':'ไม่ระบุ',  'ร.ต.':'ไม่ระบุ', 'ร.ต.ต.':'ไม่ระบุ',
                                             'ว่าที่ ร.ท.':'ไม่ระบุ', 'ว่าที่ ร.ต.':'ไม่ระบุ', 'รต.':'ไม่ระบุ', 'ร.ต.อ.':'ไม่ระบุ', 'ร.ต.ท.':'ไม่ระบุ',
                                            'ว่าที่ร้อยตรี':'ไม่ระบุ', 'ส.อ.':'ไม่ระบุ',  'ืนาง':'หญิง', 'เด็กชาย':'ชาย', 'เด็กหญิง':'หญิง'})
data_gender

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

In [126]:
data_gender[['title']]=data_gender[['title']].fillna('ไม่ระบุ')

In [127]:
data_gender

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

In [129]:
set(data_gender['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

# **ข้อมูลชุดที่ 2 hospital list**

In [116]:
data2  =  pd.read_excel(os.path.join(path,'hospital_list.csv')) # ทำการนำเข้าข้อมูล  hospital list โดยการเรียกใช้ข้อมูลประเภท .xlsx ใน drive ไฟล์ที่เรียกใช้คือ hospital_list.xlsx  โดยตั้งชื่อตารางว่า data2
data2.head() # print data ดูว่ามันหน้าตาเป็นยังไง

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG

In [117]:
data2.shape # ตรวจสอบขนาดของข้อมูล

(17103, 16)

## **ตรวจสอบค่า Missing**

In [118]:
data2.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

## **เปลี่ยนชนิดข้อมูลให้เป็นไปตามข้อกำหนด**

In [119]:
data2 = data2[['hcode','name','zone_name','province','amphur','tambon','name5','short_english']]      # เลือกเฉพาะคอลัมน์ที่ต้องการ
print(data2.shape)
data2.head()

(17103, 8)

,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด,ATG

In [120]:
data2['name'] = data2['name'].fillna('ไม่ระบุ') 
data2['zone_name'] = data2['zone_name'].fillna('ไม่ระบุ') 
data2['amphur'] = data2['amphur'].fillna('ไม่ระบุ') 
data2['tambon'] = data2['tambon'].fillna('ไม่ระบุ') 
data2['name5'] = data2['name5'].fillna('ไม่ระบุ') 
data2['short_english'] = data2['short_english'].fillna('ไม่ระบุ');

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [121]:
data2.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง

hcode            False
name             False
zone_name        False
province         False
amphur           False
tambon           False
name5            False
short_english    False
dtype: bool

# **รวมตารางข้อมูลทั้งหมด**

In [122]:
data_all = data_drop.merge(data2,how='left',left_on='site',right_on='hcode')     # เชื่อมตาราง
data_all.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล,KSN
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ทองแสนขัน,น้ำพี้,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT

## **ตรวจสอบค่า Missing**

In [123]:
data_all.isnull().any() # ดูว่าคอลัมน์ไหนมีค่า missing บ้าง

user             False
RowKey           False
date             False
ov               False
phone            False
site             False
time             False
urine            False
PartitionKey     False
title            False
age              False
hcode            False
name             False
zone_name        False
province         False
amphur           False
tambon           False
name5            False
short_english    False
dtype: bool

# **นำข้อมูลไปใช้งาน**

In [124]:
data_all.to_csv('data_all.csv', encoding='utf-8') # save เข้าไปใน drive เพื่อนำไปใช้ในการทำ dashboard