<a href="https://colab.research.google.com/github/naruemonssp/data_viz_2022/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
import pandas as pd #  import แพ็กเกจที่สำคัญ

.csv  = comma separated values ข้อมูลที่ถูกแบ่งด้วย , (comma)

data.go.th (แหล่งข้อมูล)

In [84]:
from google.colab import drive
drive.mount('/content/drive')  #เป็นการเชื่อมต่อ colab เข้ากับ drive ข้อมูล

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [85]:
import os  # ใช้จัดการกับไฟล์ต่าง ว่าไฟล์อยู่ที่ไหน

In [86]:
path = '/content/drive/My Drive/dataviz_2021_data'  # ชี้ว่าไฟล์อยู่ที่ไหน

In [87]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv')  # os.path.join เป็นการเชื่อมต่อไฟล์
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

In [88]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

## load data to memory

In [89]:
data_covid = pd.read_csv(covid_file_path)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [90]:
data_covid.head() # .head ใช้ดูหัวตาราง

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [91]:
data_covid.head(20) # .head ใช้ดูหัวตาราง

    No.  ...                                               risk
0     1  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
1     2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2     3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
3     4  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
4     5  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
5     6  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
6     7  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7     8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
8     9  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
9    10  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
10   11  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11   12  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12   13  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13   14  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
14   15  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
15   16  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
16   17  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
17   18  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
18   19  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
19   20  ...                      คนไทยเดินทางกลับจากต่างประเทศ

[20 rows x 10 columns]

In [92]:
data_covid.tail() # .tail ใช้ดูท้ายตาราง

         No.  ...                                         risk
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [93]:
data_covid.shape # แสดงว่าข้อมูลมีกี่แถว กี่คอลัมน์

(12653, 10)

## ชี้ค่าในตาราง

#### basic

In [94]:
data_covid['province_of_onset'] #ต้องการดูแค่บางคอลัมน์

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [95]:
data_covid['province_of_onset'][4] #ชี้ชื่อคอลัมน์ก่อน แล้วตามด้วยลำดับของแถว

'กรุงเทพมหานคร'

#### .iloc

In [96]:
data_covid.iloc[4,7] # .iloc เปลี่ยนการมองเห็นจากตาราง ให้เป็น array แล้วตามด้วยการชี้ไปยังข้อมูล แถว,หลัก

'กรุงเทพมหานคร'

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [97]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']] # [[ใส่ชื่อคอลัมน์ที่ต้องการ ตามลำลับที่ต้องการได้]]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [98]:
data_covid.iloc[1:5,:] # แถวที่ 1-4 ทุก คอลัมน์

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

$pddf$[list_of_logical_values] คือการเลือก row ที่ logical values เป็น True

In [99]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [100]:
data_covid['province_of_onset']=='ขอนแก่น'

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [101]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น'] # ชื่อตาราง ['ชื่อคอลัมน์']=='สิ่งที่ต้องการค้นหา'

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [102]:
data_covid[data_covid['age']>=70] # อายุมากกว่า 70

         No.  ...                                               risk
1          2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7          8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
24        25  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
82        83  ...                                            สนามมวย
...      ...  ...                                                ...
11694  11695  ...      ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
11700  11701  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11730  11731  ...                                  Cluster สมุทรสาคร
11741  11742  ...                               อยู่ระหว่างการสอบสวน
12102  12103  ...                                  Cluster สมุทรสาคร

[245 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[***x***] ค่า ***x*** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว*** แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [103]:
eight_rows_covid = data_covid.iloc[:8,3:] # ตารางตัวอย่าง
eight_rows_covid

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7  หญิง  73.0  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 7 columns]

In [104]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]   #2.   ใส่ list ที่มีค่า logic ของแต่ละ  rows โดยที่ค่า True คือ เลือก ค่า Fales คือ ไม่เลือก

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 7 columns]

In [105]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'  #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [106]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 7 columns]

$ .isnull() $ ใช้ตรวจสอบว่าเป็น NaN หรือไม่

In [107]:
eight_rows_covid['district_of_onset'] .isnull()

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: district_of_onset, dtype: bool

HW (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.   คำนวณ อายุเฉลี่ย ของผู้ชาย ของข้อมูลทั้งหมด
2.   คำนวณ อายุเฉลี่ย ของผู้ชาย ในจังหวัดขอนแก่น
3.    หาจำนวนผู้ป่วยที่เป็นคนไม่ใช่คนไทย

In [108]:
this_data = data_covid[['sex','age','province_of_onset']]

In [109]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [110]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

In [111]:
sum = 0
N = 0
for a in female['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง 36.63955450022614

In [112]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']

sum = 0
N = 0
for a in female_KK['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น 41.57142857142857

In [113]:
# 1.   คำนวณ อายุเฉลี่ย ของผู้ชาย ของข้อมูลทั้งหมด
data_1 = data_covid[['sex','age','province_of_onset']] # เลือกข้อมูลที่ต้องการจากตาราง data_covid ซึ่งประกอบไปด้วยคอลัมน์ เพศ(sex),อายุ(age),จังหวัด(province_of_onset) นำมาเก็บไว้ในตัวแปรที่ชื่อ data_1
data_1 # ทำการแสดงข้อมูลที่อยู่ในตัวแปร data_1 มีทั้งหมด 3 คอลัมน์

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [114]:
data_male = data_1[data_1['sex']=='ชาย'] # ดึงข้อมูลจาก data_1 โดยเลือกข้อมูลในนคอลัมน์ sex มาเฉพาะค่าที่เป็น 'ชาย' เท่านั้น แล้วนำไปเก็บไว้ที่ตัวแปร data_male
data_male# ทำการแสดงข้อมูลที่อยู่ในตัวแปร data_male ที่มีแค่เพศชาย

       sex   age province_of_onset
3      ชาย  68.0     กรุงเทพมหานคร
8      ชาย  63.0     กรุงเทพมหานคร
10     ชาย  33.0     กรุงเทพมหานคร
11     ชาย  61.0     กรุงเทพมหานคร
12     ชาย   6.0     กรุงเทพมหานคร
...    ...   ...               ...
12640  ชาย  66.0   พระนครศรีอยุธยา
12641  ชาย  29.0          ปทุมธานี
12643  ชาย  39.0              สตูล
12646  ชาย  18.0       สมุทรปราการ
12647  ชาย  42.0     กรุงเทพมหานคร

[4819 rows x 3 columns]

In [115]:
data_male['age'] # ทำการแสดงข้อมูลที่อยู่ในตัวแปร data_male โดยเลือกมาเฉพาะคอลัมน์อายุ(age) โดยจะนำต้วเลขที่อยู่ในคอลัมน์อายุ ไปคำนวนหาค่าเฉลี่ยของอายุผู้ป่วยชาย

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12640    66.0
12641    29.0
12643    39.0
12646    18.0
12647    42.0
Name: age, Length: 4819, dtype: float64

In [116]:
# การบวกเริ่มที่ 0 การคูณเริ่มที่ 1
#การหาค่าเฉลี่ยอายุเกิดจากการเอาข้อมูลอายุมาบวกกัน แล้วหารด้วยจำนวนข้อมูลทั้งหมด เริ่มจาก
sum = 0  # ก่อนจะเอาค่ามาบวกกันได้ ต้องสร้างตัวแปรมารับก่อน จึงสร้างตัวแปร sum ขึ้นมา โดยกำหนดให้เท่ากับ 0  และเมื่อมีข้อมูลเข้ามาก็จะทำการบวกเพิ่มเข้าไปในตัวแปร sum เรื่อยๆ
N = 0 # จำนวนข้อมูลทั้งหมด โดยจะนับว่ามีอายุที่เอามาบวกกันกี่ค่า
for a in data_male['age']: # วนลูปค่าอายุแต่ละค่า โดยมาจากคอลัมน์ age
    
    if a > 0: # ทำการตรวจสอบก่อน โดยถ้าอายุมากกว่า 0 คือข้อมูลที่มีค่าปกติ ไม่มีข้อผิดพลาด
        sum += a # หากข้อมูลมีค่ามากกว่า 0 จะนำมาบวกเข้าใน ตัวแปร sum คือ sum + a
        N += 1 #จำนวนข้อมูลที่เข้ามาในแต่ละครั้ง โดยการบวกเข้าที่ละ 1 จนครบ

print(f'อายุเฉลี่ย ของ ผู้ป่วยชาย {sum/N}') #แสดงอายุเฉลี่ยของผู้ป่วยชาย โดยการเอาผลรวมของอายุทั้งหมด หาร จำนวนข้อมูลทั้งหมด

อายุเฉลี่ย ของ ผู้ป่วยชาย 39.46076940331987

In [117]:
# 2. คำนวณ อายุเฉลี่ย ของผู้ชาย ในจังหวัดขอนแก่น
data_1

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [118]:
data_malekk = data_male[data_male['province_of_onset']=='ขอนแก่น'] # ดึงข้อมูลจาก data_male โดยเลือกข้อมูลในนคอลัมน์ province_of_onset  มาเฉพาะค่าที่เป็น 'ขอนแก่น' เท่านั้น แล้วนำไปเก็บไว้ที่ตัวแปร data_malekk
data_malekk #  ทำการแสดงข้อมูลที่อยู่ในตัวแปร data_malekk ที่เป็นเพศชาย และอยู่ในจังหวัดขอนแก่น

       sex   age province_of_onset
180    ชาย  33.0           ขอนแก่น
1466   ชาย  19.0           ขอนแก่น
2673   ชาย  68.0           ขอนแก่น
9333   ชาย  17.0           ขอนแก่น
9334   ชาย  20.0           ขอนแก่น
10610  ชาย  17.0           ขอนแก่น
11517  ชาย  12.0           ขอนแก่น

In [120]:
sum = 0 # ก่อนจะเอาค่ามาบวกกันได้ ต้องสร้างตัวแปรมารับก่อน จึงสร้างตัวแปร sum ขึ้นมา โดยกำหนดให้เท่ากับ 0  และเมื่อมีข้อมูลเข้ามาก็จะทำการบวกเพิ่มเข้าไปในตัวแปร sum เรื่อยๆ
N = 0 # จำนวนข้อมูลทั้งหมด โดยจะนับว่ามีอายุที่เอามาบวกกันกี่ค่า
for a in malekk['age']: # วนลูปค่าอายุแต่ละค่า โดยมาจากคอลัมน์ age
    
    if a > 0: # ทำการตรวจสอบก่อน โดยถ้าอายุมากกว่า 0 คือข้อมูลที่มีค่าปกติ ไม่มีข้อผิดพลาด
        sum += a # หากข้อมูลมีค่ามากกว่า 0 จะนำมาบวกเข้าใน ตัวแปร sum คือ sum + a
        N += 1 #จำนวนข้อมูลที่เข้ามาในแต่ละครั้ง โดยการบวกเข้าที่ละ 1 จนครบ

print(f'อายุเฉลี่ย ของ ผู้ป่วยชาย ในจังหวัดขอนแก่น {sum/N}') #แสดงอายุเฉลี่ยของผู้ป่วยชายในจังหวัดขอนแก่น โดยการเอาผลรวมของอายุทั้งหมด หาร จำนวนข้อมูลทั้งหมด

NameError: ignored

In [121]:

# 3. หาจำนวนผู้ป่วยที่เป็นคนไม่ใช่คนไทย
data_nationality = data_covid[['nationality']] #เลือกข้อมูลที่ต้องการจากตาราง data_covid โดยเลือกคอลัมน์ nationality และนำไปเก็บไว้ที่ตัวแปร data_nationality
data_nationality #แสดงข้อมูลจากตัวแปร data_nationality

      nationality
0           China
1           China
2        Thailand
3           China
4           China
...           ...
12648    Thailand
12649    Thailand
12650    Thailand
12651    Thailand
12652       Burma

[12653 rows x 1 columns]

In [122]:
data_notthai = data_nationality[data_nationality['nationality']!='Thailand'] # ดึงข้อมูลจาก data_nationlity โดยเลือกข้อมูลในนคอลัมน์ nationality  มาเฉพาะค่าที่ 'ไม่ใช่คนไทย'  แล้วนำไปเก็บไว้ที่ตัวแปร data_notthai
data_notthai #ทำการแสดงข้อมูลที่อยู่ในตัวแปร data_notthai ทั้งหมด

      nationality
0           China
1           China
3           China
4           China
5           China
...           ...
12614       Burma
12615       Burma
12617     Ireland
12618    Pakistan
12652       Burma

[5340 rows x 1 columns]

In [123]:
data_notthaicount = data_notthai.count() # .count  ใช้นับจำนวนข้อมูลที่มีอยู่ในตาราง data_notthai ว่ามีทั้งหมดกี่ค่า
data_notthaicount # แสดงค่าที่นับได้ โดยนับได้ทั้งหมด 4129 ค่า

nationality    4129
dtype: int64

In [124]:
notthai_NaN = data_notthai.isnull().sum() #.isnull() ใช้แสดงว่าข้อมูลในแต่ละแถวว่ามีค่า NaN  หรือไม่ ถ้ามี จะแสดลงผลว่า true ถ้าไม่มีจะแสดงผลว่า false จากนั้นใช้คำสั่ง .sum() เพื่อหาผลรวมของค่าNaN ว่ามีทั้งหมดกี่ค่า
notthai_NaN # แสดงผลรวมของค่า NaN โดยมีทั้งหมด 1211 ค่า

nationality    1211
dtype: int64

In [125]:
data_notthai['nationality'].isnull() # false ไม่เป็นค่าว่าง

0        False
1        False
3        False
4        False
5        False
         ...
12614    False
12615    False
12617    False
12618    False
12652    False
Name: nationality, Length: 5340, dtype: bool

การจัดการ Missing Value

- ลบ record ที่เป็น missing 
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown
- ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณค่า ค่าใน column ที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)

missing = ```None``` ```NA```(not autorized) ```NaN``` (not a number)

In [126]:
this_data.shape #(12423, 3)

(12653, 3)

In [127]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12653, 10)
(6655, 10)

In [128]:
this_data.dropna().shape

(8478, 3)

In [129]:
this_data.dropna()

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8478 rows x 3 columns]

In [130]:
this_data.dropna()
print(this_data.shape)

(12653, 3)

In [131]:
this_data.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [132]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8478, 3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [133]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12653, 3)

In [134]:
this_data.dropna().shape

(8478, 3)

In [135]:
this_data.dropna(subset=['age']).shape

(8881, 3)

### แทน missing ด้วยค่าที่เหมาะสม (```fillna```)

In [136]:
this_data = data_covid[['sex','age','province_of_onset']]

In [137]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [138]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f'จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

จำนวน record ก่อน drop missing ใน province 12653
จำนวน record หลัง drop missing ใน province 10662

In [139]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age':-1, 'province_of_onset':'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [140]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12635  ไม่รู้ -1.0         สมุทรสาคร
12636  ไม่รู้ -1.0         สมุทรสาคร
12637  ไม่รู้ -1.0         สมุทรสาคร
12638  ไม่รู้ -1.0         สมุทรสาคร
12639  ไม่รู้ -1.0         สมุทรสาคร

[2502 rows x 3 columns]

In [141]:
this_data_updated['province_of_onset']=='ไม่รู้'

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [142]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้']

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [143]:
this_data_updated_2 = this_data.fillna(value={'province_of_onset':'ไม่รู้'})

In [144]:
this_data_updated_2[this_data_updated['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12635  NaN  NaN         สมุทรสาคร
12636  NaN  NaN         สมุทรสาคร
12637  NaN  NaN         สมุทรสาคร
12638  NaN  NaN         สมุทรสาคร
12639  NaN  NaN         สมุทรสาคร

[2502 rows x 3 columns]

### การวนลูป record ในตาราง  (```.iterrows```)

In [145]:
this_data = data_covid[['sex','age','province_of_onset']]

In [146]:
for each_row in this_data.iterrows():
    # print(each_row)
    # print(each_row[1])
    if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
        print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

### การวนลูป แบบมองตารางแพนด้าส์(pandas dataframe) เป็น numpy array  (```.iloc```)

In [147]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น'):  #each_row คือ ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row,:])

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

## Quiz ตัดตารางออกมาเฉพาะปี 2021 ```announce_date``` ในปี 2021 

**Hint**
*   วนลูปหา index ของปี 2021
*   ตัดตารางมาเฉพาะ ปี 2021

In [148]:
TF=list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
        TF.append(True)
    else:
        TF.append(False)

data_covid[TF].head()

       No.  ...                                               risk
6884  6885  ...                                  Cluster สมุทรสาคร
6885  6886  ...                                      Cluster ระยอง
6886  6887  ...                                        สถานบันเทิง
6887  6888  ...                                  Cluster สมุทรสาคร
6888  6889  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[5 rows x 10 columns]

# Function ตัวช่วยใน pandas

### ```.describe()``` คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [149]:
data_covid.describe()

                No.          age
count  12653.000000  8881.000000
mean    6327.000000    38.054748
std     3652.750813    15.125178
min        1.000000     0.100000
25%     3164.000000    27.000000
50%     6327.000000    36.000000
75%     9490.000000    48.000000
max    12653.000000    97.000000

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [150]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

39.46076940331987

### ```.isnull()```

In [151]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12648  False          False  ...              False  False
12649  False          False  ...              False  False
12650  False          False  ...              False  False
12651  False          False  ...              False  False
12652  False          False  ...              False  False

[12653 rows x 10 columns]

# next
*   .describe
*   .mean
*   HW วนลูป missing .isnull
*   ต่อตารางแกน X แกน y
*   .groupby
*   save table